App360Gallery/.mfractor/.151df2f6-a8bb-45f3-b63f-65e509b8060b.db
App360Gallery/.mfractor/.615f481e-6f61-4c0e-ba2a-41aaeaad2cb7.db
App360Gallery/.mfractor/.app360gallery.db
App360Gallery/.mfractor/.e57fb9b0-637c-4fed-8bef-6055bbf63ddf.db
App360Gallery/.vs/App360Gallery/xs/UserPrefs.xml
App360Gallery/.vs/App360Gallery/xs/sqlite3/db.lock
App360Gallery/.vs/App360Gallery/xs/sqlite3/storage.ide
App360Gallery/.vs/App360Gallery/xs/sqlite3/storage.ide-shm
App360Gallery/.vs/App360Gallery/xs/sqlite3/storage.ide-wal
